*{
    box-sizing: border-box;
}

.container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_centering{
    width: 110px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.footer_centering{
    width: 180px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.circle{
    border-radius: 50%;
}

.left_margin{
    margin-left: 10px;
}

.right_margin{
    margin-right: 10px;
}

.rainbow{
    position: absolute;
    top: 500%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.start_img {
    width: 300px;
    height: 150px;
    object-fit: cover;
  }